-# %p 検索
-# = form_tag(diaries_searches_path,:method => 'get') do
-#   = text_field_text :search
-#   = submit_tag ,diraries_searches_path :nickname => nil
-#   %ul
-#   - @diaries.each do |diary|
-#     %li
-#       = link_to diaries.title, 
-#       = diary.created_at
-#       = diary.status
