.content
  新規記事の作成
  =form_for @diary do |f|
    = f.text_field :title, :size=>"20", class: "box1"
    = f.text_area :text, class: "box2"
    %label
      .syashin
        写真
        = f.file_field :image, class: "box3"
    = f.submit class: ""



-#   {}_with model: @post, class: :form, local: true do |form|
-#   = form.text_field :title, placeholder: :タイトル, class: :form__title
-#   = form.text_area :content, placeholder: :ブログ本文, class: :form__text
-#   = form.submit '投稿する', class: :form__btn

-# =form_for @diary do |f|
-#   = f.text_field :title, class: "chat-group-form__input", placeholder: "タイトルを入力をしてください"
-#   = f.
-#   = f.collection_check_boxes :user_ids, User.all, :id, :name
-#   = f.submit "Save", class: "chat-group-form__action-btn"