.main
  .main__infinity-slide
  
    #slide
      =image_tag 'bike1.jpg'
      =image_tag 'bike2.jpg'
      =image_tag 'bike3.jpg'
      =image_tag 'bike4.jpg'
      =image_tag 'bike5.jpg'
      =image_tag 'bike6.jpg'
    -#   =image_tag 'bike7.jpg'
    -#   =image_tag 'bike8.jpg'
    -#   =image_tag 'bike9.jpg'
      
    #slide
      =image_tag 'bike1.jpg'
      =image_tag 'bike2.jpg'
      =image_tag 'bike3.jpg'
      =image_tag 'bike4.jpg'
      =image_tag 'bike5.jpg'
      =image_tag 'bike6.jpg'
    -#   =image_tag 'bike7.jpg'
    -#   =image_tag 'bike8.jpg'
    -#   =image_tag 'bike9.jpg'
    
  .youtube
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.youtube.com/embed/Wepesthy820?autoplay=1&controls=0&mute=1", :width => "100%"} 
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => " https://www.youtube.com/embed/q-ccUCxXj9o?&autoplay=1&controls=0&mute=1", :width => "100%"}
                                                                                 
